html,body{margin:0;padding:0;height:100%;width:100%;background:#000;overflow:hidden;font-family:sans-serif;color:#fff}
video{width:100%;height:100%;object-fit:contain;background:#000}
#frameDisplay{position:fixed;top:10px;right:10px;font-size:20px;font-weight:bold;background:rgba(0,0,0,0.5);padding:4px 8px;border-radius:4px}
button,.custom-file-label{

padding:8px 12px;
font-size:20px;
border:none;
border-radius:6px;background:none;color:#fff;cursor:pointer;display:block;margin-bottom:6px}
button:active,.custom-file-label:active{background:rgba(0,119,170,0.8)}
button:hover,.custom-file-label:hover{background:rgba(0,119,170,0.8)}
#prevFrame{background:rgba(0,119,170,0.8);position:fixed;top:50%;left:10px;transform:translateY(-50%)}
#nextFrame{background:rgba(0,119,170,0.8);position:fixed;top:50%;right:10px;transform:translateY(-50%)}
#prevFrame,#nextFrame{border:1px solid black;}
#prevFrame:active,#nextFrame:active{border:1px solid yellow;}
#fileInput{display:none}
.topLeftControls{position:fixed;top:10px;left:10px;display:flex;flex-direction:column;align-items:flex-start}
