  @font-face {
    font-family: SuperSquad;
    src: url('font/SuperSquad.ttf') format('truetype');
  }

body{
/*   background-image:url('https://www.g-gundam.net/common/img/bg1.png'); */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0%;
    padding-bottom:2%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    background-color: #0c1820;
    box-sizing: border-box;
    margin:0;
    }
    
.text {
  font-family: SuperSquad;
  color:white;
}
h1{
  -webkit-text-stroke:1px black;
/*   color:gold; */
  padding:0px;margin:0px;
}
h1:hover{color:gold;}

.table-bg{width:900px;text-align:center;}
.htab{background-color:black;}
.hbtn{
/*   font-weight:bold; */
/*   font-style:italic; */
  background-color: transparent;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}
.hbtn:hover{
  color:white;
}
.hbtn_on{color:white;}
.hbtn_off{color:purple;}

  
  a{all:unset;color:darkviolet;}
  a:hover{color:yellow;cursor:pointer;}
  ul {
      list-style-type: none;
      padding: 0;
  }
  .sns{width:auto;height:50px;background-color:transparent;}
  .sns:hover{opacity:0.5;}
  /* Style the tab */
  table{border-width: 0;}
  tr{border-width: 0;}
  td{border-width: 0;}
  iframe{border-width: 0;}
  .tab {
    
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: transparent;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    
    background-color: #1d3b4e;
    /* float: left; */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #386b8f;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
  }
  
  .poster{width:130px;height:180px;}
  .poster:hover{filter: brightness(0.5);}
  .poster_2{width:210px;height:118;}
  .poster_2:hover{opacity:0.5;}
  

  .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption {
    display: block;
  color:white;
  
}
