@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{ 
font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;  
  margin: 0;
}

.drag-container {
    display: flex;
    min-height: 100vh;
  }

  .area-xsheet {
    width: 20%;
    background:#303030;
  }
  
  .area-tree {
    width: 10%;
    background:#303030;
  }

  .area-canvas {
    flex: 1;
    width: 70%;
    position: relative;
    z-index:0;
  }

  .dragbar {
  background:black;
    padding: 3px;
    cursor: col-resize;
    
  }

.area-xsheet, .area-tree , .dragbar {
position:relative;
    z-index:999;
}

.noteText {
color:orange;
font-style: italic;
}

.status{
position:absolute;
color:black;
font-size:10pt;
padding-left:10px;
z-index:10;
}
