.cp-container {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start;
    gap: 8px;
    padding: 0px; 
    background: #303030;
    user-select: none;
    box-sizing: border-box;
}

.cp-preview-container {
    flex-shrink: 0; 
    outline: 2px solid green;
}

.cp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
    gap: 0px;
    flex-grow: 1; 
    min-width: 24px;
}


.cp-preview-bg , .cp-preview-fg {
	width: 24px;
    height: 24px;
    cursor: pointer;
}

.cp-swatch {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
}

.cp-swatch:hover { outline: 2px solid #fff; z-index: 10; }
