/* Toolbox panel */
  .toolbox {
  color:white;
  user-select: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: auto;
    background: #303030;
    cursor: move;
    padding: 6px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
.toolbox label{
	 cursor: move;
}
  .toolbox button {
	color:white;
    width: 32px;
    height: 32px;
    background: #4c4c4c;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 18px;
  }

  .toolbox button:hover {
   background:#a35293;
  }
	.toolbox label{font-size:12px;text-align:center;}
  /* Tooltip styling */
  .toolbox button .tooltip {
    visibility: hidden;
    opacity: 0;
    width: 160px;
    background: black;
    color: white;
    text-align: left;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 20;
    transition: opacity 0.2s;
    font-size: 12px;
  }

  .toolbox button:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

.status{
position:absolute;
color:black;
font-size:10pt;
padding-left:10px;
z-index:10;
}
