.toolbox {
    display: grid;
    grid-template-columns: repeat(1, 0fr); /* 2 columns wide */
    gap: 0px;
    padding: 0px;
    
}

    
    .toolbox button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

/* HIGHLIGHT ACTIVE TOOL */
.toolbox button.active {
	background: #4073a3 !important;
}
.disabled { opacity:0.3; pointer-events: none; }

/* Hide the resizer handle when the parent has this class */
.window-panel.hide-resizer .win-resizer {
	display: none !important;
}

/* Optional: remove any resize mouse cursors */
.window-panel.hide-resizer {
	resize: none !important;
}
