.info-table {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-row label { flex: 1; }

.info-row input,.info-row span, .info-row textarea { color:white; flex: 3; }
#collapseHeader {position:absolute;right:0px;margin-right:10px;margin-top:5px;}

.info-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-row1 label { flex:2; }
.info-row1 input ,.info-row1 button{ flex:1; }


.tab {
  overflow: hidden;
  background-color: #1c1c1c;
  
}

.tab button {
font-size:10pt;
color:#aaaaaa;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding:5px;
}

.tab button:hover {
  background-color: #a35293;
}

.tab button.active {
color:white;
  background-color: #303030;
}

.tabcontent {
  display: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.panel {
	font-size:10pt;
	margin:0px;
  flex: 1 1 220px; 
  padding: 10px;
  border: none;
  background:#303030;
  color:white;
}

.panel button{
background:#4c4c4c;
color:white;
border:none;
margin:2px 0px 2px 0px;
}

.panel button:hover{
background:#a35293;
}

.panel label {
}

.panel input{
margin:2px 0px 2px 0px;
/*
max-width:32px;
*/
appearance: textfield;
text-align:center;
background:#1c1c1c;
border:1px solid #5f5f5f;
color:white;
}

/* Hover effect */
.toolbar button:hover,
.toolbar label:hover {
  background: #666;
}


#xsheetContainer{
display:flex;
width:384px;
height:800px;
 
}

#tableContainer {
	width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow-y:auto;
  overflow-x:auto;
  
}

table { 

border-collapse: collapse;
border-spacing: 0;
}

th, td { 
  border: 1px solid #444; 
  text-align: center; 
  width: 50px;
  height: 25px;
  padding: 0;
}
th { background: #4073a3; font-size: 12px; color:white;}
td { font-size: 12px; background:#4c6e4c;color:white;}
td:hover {background:#5f895f;}

.cellLabel, input.cellInput {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
  text-align: center;
  font-size: 12px;
  border: none;
  background: transparent;
  color: inherit;
}

input.cellInput { 
  outline: none;
  background: #2d452d;
  color: white;
}


.nullcell {
color: black;
font-weight: bold;

}

#dropZone.dragover {
	opacity:0.5;
}

.paper{
display: flex;
  flex-direction: column;
	margin:0px;
	padding:0px;
	}
		
.header {
  display: flex;
   flex: 1 1 0px; 
  background-color: white;
}

.header div{
	width:100%;
	font-size: 14px;
}

.header input, .header textarea {
	background-color:#1c1c1c; border:1px solid #5f5f5f;appearance: textfield;
	font-size:10pt;text-align:left;
}

.label {
	background-color: #f1f1f1;
	text-align: center;
	border-bottom:1px black solid;
	border-left:1px black solid;
	border-top:1px black solid
	}

.header input{}
#durationLabel{}


